<!DOCTYPE html>
<html lang="uk">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= student.name %> - Інформація</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>

    <body>
        <img id="studim" src="<%= student.image %>" />
        <h1><%= student.name %></h1>
        <p>
            <strong>Вік:</strong>
            <%= student.age %>
        </p>
        <p>
            <strong>Про себе:</strong>
            <%= student.bio %>
        </p>
        <a href="/">Повернутися на головну</a>
    </body>

    <footer>
        <p>
            <a href="<%= student.externalLink %>" target="_blank">Зв'язатися</a>
        </p>
    </footer>
</html>
