<!DOCTYPE html>
<html lang="uk">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Lotify</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <header>
            <div class="logo">Lotify</div>
            <div class="search-bar">
                <input type="search" placeholder="Пошук..." />
                <button>Search</button>
            </div>
            <div class="profile">
                <a href="/users/profile">Profile</a>
            </div>
        </header>

        <main>
            <div class="lots">
                <% lots.forEach(function(lot) { %>
                <div class="lot">
                    <img src="<%= lot.image %>" alt="<%= lot.title %>" />
                    <h3><%= lot.title %></h3>
                    <p class="desc"><%= lot.description %></p>
                    <div class="price">
                        <p>Start price: <%= lot.startPrice %></p>
                        <p>Current price: <%= lot.currentPrice %></p>
                    </div>

                    <a class="more" href="/lots/<%= lot.id %>">more</a>
                    <a class="offer" href="/offers/">Your offer</a>
                </div>
                <% }); %>
            </div>
        </main>
    </body>
</html>

